a{
	color: black;
	text-decoration: none;	
}

.active{
	border-bottom: 4px solid #142659;
}

.header__link:hover{
	background-color: #bcb7f7;
}

.truncate-text{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px; /* Adjust the maximum width as needed */
}